<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<% if (products.length > 0) { %>
		<ul class="cart__item-list">
			<% products.forEach(p => { %>
			<li class="cart__item">
				<h1><%= p.productId.title %></h1>
				<h2>Quantity: <%= p.quantity %></h2>
			</li>
			<% }) %>
		</ul>
		<% } %>
		<hr>
		<div class="centered">
			<h1>Total: $<%= total %></h1>
		</div>
		<div class="centered">
			<!-- <form action="/create-order" method="POST">
				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					data-key="pk_test_oM7vFDyBEeBfjfUZ3iArUR8t00gNk4Nvg8" data-amount="<%= total * 100 %>"
					data-name="Your Order" data-description="All the items you ordered"
					data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
					data-currency="usd">
					</script>
			</form> -->
			<button id="order-btn" class="btn">ORDER</button>
			<script src="https://js.stripe.com/v3/"></script>
			<script>
				var stripe = Stripe('pk_test_oM7vFDyBEeBfjfUZ3iArUR8t00gNk4Nvg8');
				var orderBtn = document.getElementById('order-btn');
				orderBtn.addEventListener('click', function () {
					stripe.redirectToCheckout({
						sessionId: '<%= sessionId %>'
					});
				});
			</script>
		</div>
	</main>
	<%- include('../includes/end.ejs') %>